* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --sidebar-main-color: rgb(25, 146, 212);
  --content-bg-color: rgb(255, 255, 255);
  --bg-fill-color: rgb(226, 232, 240);
  --content-accent-color: rgb(240, 180, 41);
}
body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100vh;
  width: 100vh;
  background-color: rgb(226, 232, 240);
}
.trans-bg {
  background-color: transparent;
}

.align-right {
  justify-self: end;
  margin-right: 3vh;
}

.img-btn {
  padding: 1.5vh;
  border-radius: 100%;
  border: none;
  display: inline-block;
}
.img-btn:hover {
  cursor: pointer;
  background-color: rgba(248, 248, 248, 0.671);
}

.icon-img {
  height: 7vh;
  width: 7vh;
  border-radius: 60%;
  object-fit: cover;
  vertical-align: middle;
  margin: 1vh 1vw;
}

/* sidebar */

.sidebar {
  float: left;
  height: 100vh;
  width: 15vw;
  background-color: var(--sidebar-main-color);
}

.logo-container {
  display: flex;
  align-items: center;
  margin: 0.75vw;
  height: 5vh;
}

.logo {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.logo-txt {
  margin-left: 0.75vw;
  font-weight: 700;
  font-size: 2rem;
  color: white;
}

.sidebar-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
  color: white;
  vertical-align: middle;
}

.sidebar-item:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.sidebar-nav-container {
  list-style: none;
  margin: 8vh 1vw;
}

.sidebar-nav-item {
  /* display: flex;
  align-items: center; */
  padding-bottom: 5vh;
}
.sidebar-logo {
  height: 2.5vh;
  padding-right: 1.5vw;
}

/* header/nav */

.header-container {
  display: grid;
  grid-template-columns: 58vw 1fr;
  background-color: var(--content-bg-color);
  height: auto;
  width: 85vw;
  padding-left: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-bottom: 0;
}
.search-bar {
  display: flex;
  align-items: center;
}
.search-img {
  height: 2.5vh;
  vertical-align: middle;
}
/* search bar */
.search-input {
  padding-left: 0.75vw;
  border: none;
  width: 40vw;
  height: 3.5vh;
  border-radius: 15px;
  background-color: var(--bg-fill-color);
}

.search-input:focus {
  outline: none;
  padding-left: 0.75vw;
}

/* account area */

.user-name {
  vertical-align: middle;
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 800;
}

/* welcome area */
.welcome-img {
  height: 10vh;
  width: 10vh;
  border-radius: 60%;
  object-fit: cover;
  vertical-align: middle;
  margin: 1vh 1vw;
}
.welcome-name {
  font-size: 2rem;
  font-weight: 800;
}
.welcome-intro {
  vertical-align: top;
  font-weight: 600;
}

.welcome-area {
  display: flex;
  align-items: center;
}

/* post buttons area */

.post-area {
  display: flex;
  align-items: center;
}

.post-btn {
  outline: none;
  border: none;
  height: 5vh;
  width: 7vw;
  background-color: #1992d4;
  border-radius: 2vh;
  color: white;
  font-weight: 700;
  font-size: 0.9rem;
  margin-left: 1vw;
}

.post-btn:hover {
  cursor: pointer;
  background-color: rgba(25, 146, 212, 0.897);
}

/* content area */
.content-area {
  background-color: rgb(226, 232, 240);
  height: auto;
  width: 80vw;
}
